<% provide(:title, "Contact") %>

<html>
  <head>
    <title><%= yield(:title) %> | Microreddit</title>
  </head>
  <body>
<h1> Contact Details </h1>
<p>
    You can contact the owner of this app at bansal.sidharth2996@gmail.</p >
  </body>
  </html>
