<% provide(:title, "Help") %>

<html>
  <head>
    <title><%= yield(:title) %> | Microreddit</title>
  </head>
  <body>
<h1>Help</h1>
<p>
  Get help on the Reddit you can write a post on the page
  or contact us
  <%= link_to "contact", static_pages_contact_path%>

</p>

</body>
</html>
