<html>
  <head>
    <title>Home | Microreddit</title>
  </head>
  <body>
<h1>Sample Microreddit app App</h1>
<p>
  This is the home page for the Sample
  <a href="http://www.reddit.com/">Reddit</a>
 application.
</p>
</body>
</html>
